html,body{
    height: 100%;
    margin: 0%;
}
.dropdown{
    display: inline;
}
.lead{
    color: orange;
}

.navbar {
    margin-bottom: 0;
}

#index {
    /*background: url("../images/test1.jpg") no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
    /* background: url("../images/test1.jpg") no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}
.form-group {
    float: right;
    clear: both;
    margin-left: -10px;
}

.h3-browse {
    text-align: left;
    font-size: 20px;
}

#footer {
    background: rgb(49, 49, 49);
    padding-top: 1%;
    position: fixed;;
    text-align: center;
    color: white;
    border-top-style: solid;
    border-top-color: rgb(83, 82, 82);
    border-width: 5px;
}

footer p {
    position: relative;
    text-align: center;
}

.footer {
    text-align: center;
}

#about-section2 {
    color: black;
    background: white;
    opacity: 2.0;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#mapid{
    height: 200px;
    width: 90%
}


body {
     background: url("../images/test1.jpg") no-repeat center center fixed; 
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.rounded-circle{
    vertical-align: middle;
}

.col-lg-3, .col-lg-4{
    text-align: center;
}

.contain{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    margin-top: auto;
    padding-right: 15px;
    padding-top: 25px;
}

.main-container {
    background-color: white;
    opacity: 0.85;
    padding: 40px;
}

.contact-location{
    border-top:5px solid #d3931c;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 8px 45px 0 rgba(0,0,0,0.22);
    height: 100%;
    margin: auto;
}

.contact-form{
    float: none;
}
#message{
    width: 100%; height: 150px;
}

header {
    color: #d3931c;
    padding: 5px 0px 13px 50px;
    border-bottom-style: solid;
    border-bottom-color: rgb(83, 82, 82);
    border-width: 5px;
}

/*ul{*/
/*float:right;*/
/*list-style-type:none;*/
/*margin:none;*/
/*padding:none;*/
/*}*/

/*li{*/
/*display:inline-block;*/
/*margin: 10px;*/
/*padding: 10px;*/
/*!* TODO: Add line between different list values *!*/
/*}*/

